.site-header {
    background-size: contain!important;
    background: #090a0b no-repeat;
}
.site-header-content {
    padding: 4vw;
}
.home-template .site-header-content {
    padding: 4vw;
    display: inline-block;
    text-align: left; 
    margin: 0 0 0 -160px;
}
.nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.site-nav {
    height: 70px;
}
.site-nav-left {
    display: flex;
}
.post-card-image {
    background-size: contain;
}
@media (max-width: 1024px)
{
    .home-template .site-header-content {
        padding: 5vw;
        margin: 0 0 0 -80px;
    }
}

@media (max-width: 768px)
{
    .home-template .site-header-content {
        padding: 3vw;
        margin: 0 0 0 -50px;
        min-height: 0;
    }
}

@media (max-width: 376px)
{
    .home-template .site-header-content {
        padding: 0vw;
        margin: -13px 0 0 0;
        min-height: 0;
    }
    .site-nav {
        height: auto;
    }
    .site-nav-left {
        padding-bottom: 0;
    }
}

